{extend name="common/base" /}

{block name="title"}任务{/block}
{block name="css"}{/block}
{block name="content"}
<div class="layui-row layui-col-space20">
    <div class="layui-col-md12">
        <div class="layui-card">
            <div class="layui-card-header">
                创建过滤任务
            </div>
            <div class="layui-card-body layuiadmin-card-list">
                <form class="layui-form" action="" method="post" id="addProxy" >

                    <div class="layui-form-item">
                        <label class="layui-form-label">输入：</label>
                        <div class="layui-input-block">
                            <input type="text" id="taskname" name='taskname' lay-verify="required" placeholder="请输入任务名称" autocomplete="off" class="layui-input">
                        </div>
                    </div>


                    <div class="layui-form-item">
                        <div class="layui-input-block">
                            <a style="margin-left: 15%" type="submit" class="layui-btn layui-btn-radius" lay-submit="" lay-filter="addit" id="addit" >创建任务</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>



{/block}
{block name="script"}

<script>
    layui.config({
        base: '__layui__/' //静态资源所在路径
    }).extend({
        index: 'lib/index' //主入口模块

    }).use(['index', 'table', 'layer', 'element', 'laydate', 'form', 'jquery', 'upload'], function() {
        var element = layui.element
            ,layer = layui.layer
            ,laydate = layui.laydate
            ,table = layui.table
            ,$ = layui.$
            ,upload = layui.upload
            ,form = layui.form;


        var main = {
            submitForm : function(data) {
                var taskname = $.trim(data.field.taskname);

                $.ajax({
                    type:'post',
                    url:"{:url('test/index')}",
                    data:{
                        'taskname' : taskname
                    },
                    dataType:'json',
                    success: function(res) {
                        if (res.code === 0) {
                            layer.msg(res.msg, {icon:1});
                        } else {
                            layer.msg(res.msg, {icon:2});
                        }
                    }
                });
            },
            bindEvent : function(){
                form.on('submit(addit)', function(data) {
                    main.submitForm(data);
                    return false;
                });
            },
            init : function(){
                main.bindEvent();
            }
        };

        main.init();

    });
</script>
{/block}